* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(photo\ \(1\).jpg) no-repeat center center/cover;
  height: 100vh;
}

.main_box {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* Hamburger Button */
.btn_one i {
  color: white;
  font-size: 28px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

/* Sidebar */
.sidebar_menu {
  position: fixed;
  left: -300px;
  height: 100vh;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease;
  padding: 20px;
}

/* Logo text */
.sidebar_menu .logo a {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

/* Close Button */
.btn_two i {
  font-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: #ffffff;
}

/* Menu Items */
.sidebar_menu ul {
  margin-top: 60px;
}

.sidebar_menu ul li {
  list-style: none;
  padding: 15px 10px;
  font-size: 18px;
  color: #ffffff; /* TEXT WHITE */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

/* ICON color white */
.sidebar_menu ul li i {
  margin-right: 20px;
  color: #ffffff;
}

/* Anchor text white */
.sidebar_menu ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Hover Effect */
.sidebar_menu ul li:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
.sidebar_menu .social_media i {
  color: #ffffff !important;
  margin: 10px;
}
.sidebar_menu .logo:hover{
    box-shadow: 0 4px 6px;
}

/* Checkbox Toggle */
#check {
  display: none;
}

#check:checked ~ .sidebar_menu {
  left: 0;
}

#check:checked ~ .btn_one i {
  opacity: 0;
}
